<!-- Table & Notifications
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-6 col-md-6">

            <div class="section-headline margin-bottom-30">
                <h4>Table</h4>
            </div>
            <table class="basic-table">

                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>

                <tr>
                    <td data-label="Column 1">Item</td>
                    <td data-label="Column 2">Description</td>
                    <td data-label="Column 3">Description</td>
                </tr>

                <tr>
                    <td data-label="Column 1">Item</td>
                    <td data-label="Column 2">Description</td>
                    <td data-label="Column 3">Description</td>
                </tr>

                <tr>
                    <td data-label="Column 1">Item</td>
                    <td data-label="Column 2">Description</td>
                    <td data-label="Column 3">Description</td>
                </tr>

                <tr>
                    <td data-label="Column 1">Item</td>
                    <td data-label="Column 2">Description</td>
                    <td data-label="Column 3">Description</td>
                </tr>
            </table>
        </div>


        <div class="col-xl-6 col-md-6">

            <div class="section-headline margin-bottom-30">
                <h4>Notifications</h4>
            </div>

            <div class="notification error closeable">
                <p>Please fill in all the fields required</p>
                <a class="close" href="#"></a>
            </div>

            <div class="notification success closeable">
                <p>You did it, now relax and enjoy it</p>
                <a class="close" href="#"></a>
            </div>

            <div class="notification warning closeable">
                <p>Change this and that and try again</p>
                <a class="close" href="#"></a>
            </div>

            <div class="notification notice closeable">
                <p>Please check the information below</p>
                <a class="close" href="#"></a>
            </div>
        </div>

    </div>

</div>
<!-- Container / End -->


<!-- Tabs & Toggles
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-6 col-md-6">

            <div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-30">
                <h4>Tabs</h4>
            </div>

            <!-- Tabs Container -->
            <div class="tabs">
                <div class="tabs-header">
                    <ul>
                        <li class="active"><a href="#tab-1" data-tab-id="1">Tab 1</a></li>
                        <li><a href="#tab-2" data-tab-id="2">Tab 2</a></li>
                        <li><a href="#tab-3" data-tab-id="3">Tab 3</a></li>
                    </ul>
                    <div class="tab-hover"></div>
                    <nav class="tabs-nav">
                        <span class="tab-prev"><i class="icon-material-outline-keyboard-arrow-left"></i></span>
                        <span class="tab-next"><i class="icon-material-outline-keyboard-arrow-right"></i></span>
                    </nav>
                </div>
                <!-- Tab Content -->
                <div class="tabs-content">
                    <div class="tab active" data-tab-id="1">
                        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring</p>
                    </div>
                    <div class="tab" data-tab-id="2">
                        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</p>
                    </div>
                    <div class="tab" data-tab-id="3">
                        <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                        <p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
                    </div>
                </div>
            </div>
            <!-- Tabs Container / End -->
        </div>


        <div class="col-xl-6 col-md-6">

            <div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-30">
                <h4>Accordion</h4>
            </div>

            <!-- Accordion -->
            <div class="accordion js-accordion">

                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item">
                    <div class="accordion-header js-accordion-header">Panel 1</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior deliverables whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change.
                        </div>

                    </div>
                    <!-- Accordion Body / End -->
                </div>
                <!-- Accordion Item / End -->

                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item active">
                    <div class="accordion-header js-accordion-header">Panel 2</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology after plug-and-play networks.
                        </div>

                        <!-- Sub Accordion Container -->
                        <div class="accordion js-accordion">

                            <!-- Sub Accordion -->
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">Sub Panel 1</div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        Completely synergize scalable e-commerce rather than high standards in e-services. Assertively iterate resource maximizing products after leading-edge intellectual capital.
                                    </div>
                                </div>
                            </div>

                            <!-- Sub Accordion -->
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">Sub Panel 2</div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        Dynamically target high-payoff intellectual capital for customized technologies. Objectively integrate emerging core competencies before process-centric communities.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Sub Accordion / End -->
                    </div>
                    <!-- Accordion Body / End -->
                </div>
                <!-- Accordion Item / End -->

                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item">
                    <div class="accordion-header js-accordion-header">Panel 3</div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            Efficiently enable enabled sources and cost effective products. Completely synthesize principle-centered information after ethical communities. Efficiently innovate open-source infrastructures via inexpensive materials.
                        </div>

                    </div>
                    <!-- Accordion Body / End -->
                </div>
                <!-- Accordion Item / End -->

            </div>
            <!-- Accordion / End -->

        </div>

    </div>

</div>
<!-- Container / End -->


<!-- Buttons
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
                <h4>Buttons</h4>
            </div>
        </div>

        <div class="col-xl-4 col-md-4">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Default Button</h5>
            </div>
            <a href="#" class="button ripple-effect">Button</a>
            <a href="#" class="button dark ripple-effect">Button</a>
            <a href="#" class="button gray ripple-effect-dark">Button</a>
        </div>

        <div class="col-xl-4 col-md-4">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Button With Icon</h5>
            </div>
            <a href="#" class="button ripple-effect">Button <i class="icon-material-baseline-mail-outline"></i></a>
            <a href="#" class="button dark ripple-effect button-sliding-icon">Sliding Icon <i class="icon-feather-check"></i></a>
            <a href="#" class="button gray ripple-effect button-sliding-icon">Sliding Icon <i class="icon-feather-arrow-right"></i></a>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Big Button</h5>
            </div>
            <a href="#" class="button big ripple-effect">Button</a>
            <a href="#" class="button big dark ripple-effect">Button</a>
            <a href="#" class="button big gray ripple-effect-dark">Button</a>
        </div>
    </div>
</div>
<!-- Container / End -->


<!-- Default Inputs
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
                <h4>Default Inputs</h4>
            </div>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Input</h5>
            </div>
            <input placeholder="Placeholder">
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Input with border</h5>
            </div>
            <input class="with-border" placeholder="Placeholder">
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Input + icon with border</h5>
            </div>
            <div class="input-with-icon-left no-border">
                <i class="icon-material-outline-account-circle"></i>
                <input type="text" class="input-text" placeholder="Placeholder">
            </div>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Input + icon</h5>
            </div>
            <div class="input-with-icon-left">
                <i class="icon-material-outline-account-circle"></i>
                <input type="text" class="input-text with-border" placeholder="Placeholder">
            </div>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Keywords Input
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
                <h4>Keywords Input</h4>
            </div>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Keywords input</h5>
            </div>

            <div class="keywords-container">
                <div class="keyword-input-container">
                    <input type="text" class="keyword-input" placeholder="Add Keywords"/>
                    <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                </div>
                <div class="keywords-list">
                    <!-- keywords go here -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Keywords input with preadded keywords and border</h5>
            </div>

            <div class="keywords-container">
                <div class="keyword-input-container">
                    <input type="text" class="keyword-input with-border" placeholder="Add Keywords"/>
                    <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                </div>
                <div class="keywords-list">
                    <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Mustard</span></span>
                    <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Relish</span></span>
                    <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Ketchup</span></span>
                    <span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Tabasco</span></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Radio, Checkbox, Switch
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-12">
                <h4>Radio, Checkbox, Switch</h4>
            </div>
        </div>

        <div class="col-xl-4 col-md-4">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Checkbox</h5>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="chekcbox1" checked>
                <label for="chekcbox1"><span class="checkbox-icon"></span> Checkbox</label>
            </div>
            <br>
            <div class="checkbox">
                <input type="checkbox" id="chekcbox2">
                <label for="chekcbox2"><span class="checkbox-icon"></span> Checkbox</label>
            </div>
        </div>

        <div class="col-xl-4 col-md-4">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Radio Button</h5>
            </div>
            <div class="radio">
                <input id="radio-1" name="radio" type="radio" checked>
                <label for="radio-1"><span class="radio-label"></span> Radio Button</label>
            </div>

            <br>

            <div class="radio">
                <input id="radio-2" name="radio" type="radio">
                <label for="radio-2"><span class="radio-label"></span> Radio Button</label>
            </div>
        </div>

        <div class="col-xl-4 col-md-4">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Switch Button</h5>
            </div>
            <div class="switches-list">
                <div class="switch-container">
                    <label class="switch"><input type="checkbox" checked><span class="switch-button"></span> Switch Button</label>
                </div>

                <div class="switch-container">
                    <label class="switch"><input type="checkbox"><span class="switch-button"></span> Switch Button</label>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Sliders
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
                <h4>Sliders</h4>
            </div>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-35">
                <h5>Range Slider</h5>
            </div>

            <!-- Range Slider -->
            <input class="range-slider" type="text" value="" data-slider-currency="$" data-slider-min="10" data-slider-max="250" data-slider-step="5" data-slider-value="[10,250]"/>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-35">
                <h5>Slider</h5>
            </div>

            <!-- Range Slider -->
            <input class="range-slider-single" type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="25"/>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Select Boxes
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-25">
                <h4>Select Boxes</h4>
            </div>

            <div class="notification notice closeable">
                <p>Select boxes are powered by <strong>Bootstrap Select</strong>. More examples at <a href="http://silviomoreto.github.io/bootstrap-select/examples/">http://silviomoreto.github.io/bootstrap-select/examples/</a></p>
                <a class="close" href="#"></a>
            </div>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Standard select boxes</h5>
            </div>

            <select class="selectpicker">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-25 margin-bottom-12">
                <h5>Multiple select boxes</h5>
            </div>

            <select class="selectpicker" multiple>
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Select boxes with optgroups</h5>
            </div>
            <select class="selectpicker">
                <optgroup label="Picnic">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </optgroup>
                <optgroup label="Camping">
                    <option>Tent</option>
                    <option>Flashlight</option>
                    <option>Toilet Paper</option>
                </optgroup>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Live Search</h5>
            </div>

            <select class="selectpicker" data-live-search="true">
                <option>Hot Dog, Fries and a Soda</option>
                <option>Burger, Shake and a Smile</option>
                <option>Sugar, Spice and all things nice</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Limit the number of selections</h5>
            </div>

            <select class="selectpicker" multiple data-max-options="2">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Pepper</option>
                <option>Relish</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Custom button text</h5>
            </div>

            <select class="selectpicker" multiple title="Choose one of the following...">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Selected text format</h5>
            </div>

            <select class="selectpicker" multiple data-selected-text-format="count > 1">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
                <option>Onions</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Select boxes with icons</h5>
            </div>

            <select class="selectpicker" multiple data-selected-text-format="count > 1">
                <option data-icon="icon-material-outline-assignment" selected>Assignment</option>
                <option data-icon="icon-material-outline-access-alarm">Alarm</option>
                <option data-icon="icon-material-outline-account-circle">Account</option>
                <option data-icon="icon-material-outline-cake">Cake</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Disabled options</h5>
            </div>

            <select class="selectpicker">
                <option>Mustard</option>
                <option disabled>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>Subtext</h5>
            </div>

            <select class="selectpicker">
                <option data-subtext="French's">Mustard</option>
                <option data-subtext="Heinz">Ketchup</option>
                <option data-subtext="Sweet">Relish</option>
                <option data-subtext="Miracle Whip">Mayonnaise</option>
                <option data-subtext="Sweet & Spicy">Tabasco</option>
                <option data-subtext="Chunky">Salsa</option>
            </select>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-45 margin-bottom-12">
                <h5>All above select boxes are also available with border</h5>
            </div>

            <select class="selectpicker with-border" multiple>
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
                <option>Mayonnaise</option>
                <option>Tabasco</option>
                <option>Salsa</option>
            </select>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Tooltips
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-25">
                <h4>Tooltips</h4>
            </div>
            <div class="notification notice closeable">
                <p>Tooltips are powered by powerful <strong>tippy.js</strong> tooltip library. More examples at <a href="https://atomiks.github.io/tippyjs/">https://atomiks.github.io/tippyjs/</a></p>
                <a class="close" href="#"></a>
            </div>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-10 margin-bottom-12">
                <h5>Dark Tooltips</h5>
            </div>
            <button class="button gray" data-tippy-placement="top" title="Tooltip">Top</button>
            <button class="button gray" data-tippy-placement="bottom" title="Tooltip">Bottom</button>
            <button class="button gray" data-tippy-placement="left" title="Tooltip">Left</button>
            <button class="button gray" data-tippy-placement="right" title="Tooltip">Right</button>
        </div>

        <div class="col-xl-6 col-md-6">
            <div class="section-headline margin-top-10 margin-bottom-12">
                <h5>Light Tooltips</h5>
            </div>
            <button class="button gray" data-tippy-placement="top" title="Tooltip" data-tippy-theme="light">Top</button>
            <button class="button gray" data-tippy-placement="bottom" title="Tooltip" data-tippy-theme="light">Bottom</button>
            <button class="button gray" data-tippy-placement="left" title="Tooltip" data-tippy-theme="light">Left</button>
            <button class="button gray" data-tippy-placement="right" title="Tooltip" data-tippy-theme="light">Right</button>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Inline Elements
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-25">
                <h4>Inline Elements</h4>
            </div>
            <p>Etiam elit est, tincidunt non tincidunt <sup>This is sup element</sup> elit, sed do. Mauris aliquet ultricies <sub>This is sub element</sub> volutpat ipsum hendrerit sed neque sed sapien rutrum laoreet justo ut labolore magna aliqua. <del>This is deleted element</del> enim ad minim veniam. Lorem ipsum elit <mark class="color">mark element with “color” class.</mark>, consectetur adipisicing. Lorem <dfn>dfn element here</dfn> ipsum dosectetur tincidunt sit amet, <strong>strong text</strong>. Aliquam eu id lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Lorem ipsum dosectetur <code>Some code text</code> velit sagittis, <abbr title="The abbr tag">abbreviation</abbr> elit est <mark>highlighted text by using “mark” tag</mark>.</p>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Icon Lists
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-40 padding-top-45 margin-bottom-25">
                <h4>Icon Lists</h4>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <ul class="list-1">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                    </ul>
                </div>

                <div class="col-xl-4 col-md-4">
                    <ul class="list-2">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                    </ul>
                </div>

                <div class="col-xl-4 col-md-4">
                    <ul class="list-3 color">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container / End -->


<!-- Numbered Lists
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="section-headline border-top margin-top-40 padding-top-45 margin-bottom-25">
                <h4>Icon Lists</h4>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="numbered">
                        <ol>
                            <li>Praesent in libero vel pellentesque</li>
                            <li>Proin fermentum eratin eget porttitor</li>
                            <li>Maecenas quis consequat libero</li>
                            <li>Nunc orci augue consequat</li>
                            <li>Praesent in libero vel pellentesque</li>
                            <li>Proin fermentum eratin eget porttitor</li>
                        </ol>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4">
                    <div class="numbered color">
                        <ol>
                            <li>Praesent in libero vel pellentesque</li>
                            <li>Proin fermentum eratin eget porttitor</li>
                            <li>Maecenas quis consequat libero</li>
                            <li>Nunc orci augue consequat</li>
                            <li>Praesent in libero vel pellentesque</li>
                            <li>Proin fermentum eratin eget porttitor</li>
                        </ol>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4">
                    <div class="numbered color filled">
                        <ol>
                            <li>Praesent in libero vel pellentesque</li>
                            <li>Proin fermentum eratin eget porttitor</li>
                            <li>Maecenas quis consequat libero</li>
                            <li>Nunc orci augue consequat</li>
                            <li>Praesent in libero vel pellentesque</li>
                            <li>Proin fermentum eratin eget porttitor</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Container / End -->
